@model List<TMS_CRS.Models.TmOwnerdetail>;
<form method="post">
    <table>
        <tr>
            <th>Enter Owner ID</th>
            <td><input type="number" name="id"/></td>
        </tr>
        <tr>
            <th><input type="submit" value="Submit"/></th>
        </tr>
    </table>
</form>
@if(Model != null)
{
    <table>
        <tr>
            <th>Owner ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OwnerId</td>
                <td>@item.Fname</td>
                <td>@item.Lname</td>
            </tr>
        }
    </table>
}