<form>
    <div>@Html.ActionLink("Registration","Registration")</div>
    <div>@Html.ActionLink("Add Owner Details","AddOwner")</div>
    <div>@Html.ActionLink("Add Vehicle Details","AddVehicle")</div>
    <div>@Html.ActionLink("Vehicle Transfer","Transferdetails")</div>
</form>