<body style="background-color:antiquewhite">
    <form>

        <div>
            <button style="background-color:maroon">
                @Html.ActionLink("Add Owner Details", "AddOwner")
            </button>
        </div>
        <div>
            <button style="background-color:royalblue">
                @Html.ActionLink("Vehicle Details", "AddVehicle")
            </button>
        </div>
        <div>
            <button style="background-color:maroon">
                @Html.ActionLink("Registration", "Registration")
            </button>
        </div>
        <div>
            <button style="background-color:limegreen">
                @Html.ActionLink("Vehicle Transfer", "Transferdetails")
            </button>
        </div>
    </form>
</body>