@model TMS_CRS.Models.TmRegdetail
<form method="post">
    <table>
        <tr>
            <th>Old Owner ID</th>
            <td>@Html.EditorFor(x => x.OldOwnerId)</td>
        </tr>
        <tr>
            <th>Owner ID</th>
            <td>@Html.EditorFor(x => x.OwnerId)</td>
        </tr>
        <tr>
            <th>Old Owner</th>
            <td>@Html.EditorFor(x => x.OldOwner)</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>@Html.EditorFor(x => x.Owner)</td>
        </tr>
        <tr>
            <th><input type="submit" value="Submit"/></th>
        </tr>
    </table>
</form>