<link rel="stylesheet" href="~/css/HomePage.css" />
<nav>
    <div class="nav-bg"></div>
    <ul>
        <li><a href="">@Html.ActionLink("Add Pentaly", "AddOffence", "ConsumeTrafficPolice")</a></li>
        <li><a href="">@Html.ActionLink("Show all Offence And Edit", "Showalloffence", "ConsumeTrafficPolice")</a></li>
        <li><a href="">@Html.ActionLink("Generate Report", "GenerateReport", "ConsumeTrafficPolice")</a></li>
    </ul>
</nav>
<div class="hero">
<img src="~/Image/egor-myznik-NkGGF6BvU88-unsplash.jpg" width="90%" height="90%"/>
    <h1>Welcome to Traffic Police Page</h1>
</div>
