<body style="background-color:navajowhite">

    <marquee><h1> Welcome To Traffic Police Home Page</h1></marquee>


   <div>@Html.ActionLink("Add Pentaly", "AddOffence", "ConsumeTrafficPolice")</div>
    <br />
    <div>@Html.ActionLink("Show all Offence And Edit", "Showalloffence", "ConsumeTrafficPolice")</div>
    <br />
    <div>@Html.ActionLink("Generate Report", "GenerateReport", "ConsumeTrafficPolice")</div>
    <br />
</body>
