<style>
    button {
        height: 150px;
        width: 250px;
    }
</style>
<body style="background-color:antiquewhite">
    <marquee><h1> Welcome To Traffic Police Home Page</h1></marquee>
    <form>
        <table align="center">
            <tr>
                <th>
                    <button style="background-color:yellowgreen;">
                        @Html.ActionLink("Add Pentaly", "AddOffence", "ConsumeTrafficPolice")
                    </button>
                </th>
                <th>
                    <button style="background-color:orange">
                        @Html.ActionLink("Show all Offence And Edit", "Showalloffence", "ConsumeTrafficPolice")
                    </button>
                </th>

                <th>
                    <button style="background-color:wheat">
                        @Html.ActionLink("Generate Report", "GenerateReport", "ConsumeTrafficPolice")
                    </button>
                </th>
            </tr>

        </table>
    </form>
    <div>
        <button style="background-color: white; float:left; height: 50px; width: 100px;">
            @Html.ActionLink("Back", "MainHome", "ConsumeRTO")
        </button>
    </div>
</body>