@model TMS_CRS.Models.TmUsermaster
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>Enter User Name:@Html.TextBoxFor(x => x.Username)</div>
    <div>Enter Rolename:@Html.TextBoxFor(x => x.Rolename)</div>
    <div>Enter Password:@Html.TextBoxFor(x => x.Password)</div>
    <div><input type="submit" value="Register" /></div>

}
<div>
    @Html.ActionLink("Log in", "UserLogin")
</div>