<form>
    @Html.ActionLink("Register User", "AddUser")
    <table border="0">
        <tr>
            <td>UserName:</td>
            <td><input type="text" name="txtuser" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="txtpass" /></td>
        </tr>
    </table>
    <input type="submit" value="Log in" />
</form>